<div id="image-cover-modal" class="image-cover-modal">
    <img id="image-cover-image" class="image-cover-modal-content">
    <div id="image-cover-caption"></div>
</div>
<script>
    // Get the DOM
    var modal = document.getElementById('image-cover-modal');
    var modalImg = document.getElementById("image-cover-image");
    var captionText = document.getElementById("image-cover-caption");
    var span = document.getElementsByClassName("image-cover-close")[0];

    // When the user clicks on <span> (x), close the modal
    modal.onclick = function() {
        this.classList.remove("model-shown");
    }

    var i;
    for (i = 0; i < document.images.length; i++) {

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.images[i];

        img.onclick = function(){
            modal.classList.add("model-shown");
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;

            document.onwheel = (e) => {
                let delta = (e.wheelDelta && (e.wheelDelta > 0 ? 1 : -1))

                if (delta > 0) {//放大
                    // 向上滚
                    let oWidth = this.offsetWidth;//取得图片的实际宽度
                    let oHeight = this.offsetHeight; //取得图片的实际高度

                    this.style.width = (oWidth + 50) + "px"
                    this.style.height = (oHeight + 50 / oWidth * oHeight) + "px"

                } else if (delta < 0) {//缩小
                    //向下滚
                    let oWidth = this.offsetWidth; //取得图片的实际宽度
                    let oHeight = this.offsetHeight; //取得图片的实际高度
                    if (this.el.offsetWidth > 100 || this.offsetHeight > 75) {//判断如果图片缩小到原图大小就停止缩小(100和75分别为原图的宽高)

                        this.style.width = oWidth - 50 + "px"
                        this.style.height = oHeight - 50 / oWidth * oHeight + "px"
                    }
                }
            }
        }
    }
</script>
